.van-routes {
	position  : relative;
	background: white;
	padding   : 8px 0;

	.van-routes-icon {
		margin-right  : 8px;
		font-size     : 16px;
		vertical-align: 1px;
	}

	.van-cell {
		padding: 4px 16px;

		&::after {
			content: none;
		}
	}
}